.wrapper {
    display: flex;
    min-width: 375px;
    max-width: 375px;
    max-height: 812px;
    min-height: 812px;
    align-items: stretch;
    border: 1px dotted red;
}

.wrapper {
    display: flex;
    align-items: stretch;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 70px;
    max-width: 70px;
    min-height: 100vh;
}



body {
    font-family: avenir;
    background: #fafafa;
}

p {
    font-family: avenir;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0s;
}

#sidebar {
    background: #588B8B;
    color: #fff;
    transition: all 0s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #588B8B;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    margin-left: 30px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active {
    color: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

.menu {
    list-style-type: none;
}


/********* Curved Hover Animation **********/

.menu li {
    position: relative;
    border-radius: 10px 0 0 10px;
}
.menu li:hover:after,
.menu li:hover:before{
    content:'';
  position: absolute;
  width: 10px; 
  height: 10px;
  right: 0px;
}

.menu li:hover:after{
    top: -10px;
    background: radial-gradient(circle at top left, #588B8B 10px, white 11px);

}

.menu li:hover:before{
    bottom: -10px;
  background: radial-gradient(circle at bottom left, #588B8B 10px, white 11px);

}

/********* ACCORDION **********/

#accordion {
    display: flex;
    align-items: center;

}