.wrapper {
    display: flex;
    min-width: 375px;
    max-width: 375px;
    min-height: 812px;
    align-items: center;
    border: 1px dotted red;
    flex-direction: column;
    
}


body {
    font-family: avenir;
    background: #FFFDF9;
    min-height: 100vh;

}

p {
    font-family: avenir;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.content {
    flex-direction: row;
    margin: 30px;
}

.content span {
    text-decoration: underline;
  text-decoration-color: #F6AE2D;
}
.moodysun {
    justify-content: center;
    align-items: center;
    max-width: 200px;
    min-width: 200px;
    background-repeat: no-repeat;
}


/******* CALENDAR ******/

.container {
  max-width: 375px;
  min-width: 375px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  
}


table, th, td {
  max-height: 100px;
  min-height: 50px;
  min-width: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  margin-top: auto;
  padding-top: 10px;
  color: #699797;
  font-weight: lighter;
}


.simone {
    display: flex;
    flex-direction: column;
    max-width: 33px;
    min-width: 33px;
    margin-left: 43px;
    margin-top: 15px;
}

.welcome {
    position: absolute;
    margin-left: 143px;
    margin-top: 20px;
    font-size: 10pt;

}

hr {
    width: 30px;
    position: absolute;
    margin-left: 160px;
    margin-top: -65px;
    height: 1.5px;
    border-radius: 40px;
    border: none;
    background-color: lightgrey;
}

.test5 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test6 {
    position: absolute;
    margin-left: 60px;
    margin-top: 65px;
    
}

.test6 p {
    color: white;
    font-size: 12pt;
}




/********* ACCORDION **********/

.accordion {
    margin-top: 20px;
    border-radius: 20px;
    flex-direction: column;
}

.card i{
    margin-left: 230px;
    position: absolute;
    margin-top: -35px;
}

.test4 {
    font-size: 17pt;
    
}

input {
    float: right;
    margin-right: 10%;
    margin-top: 18px;
}

label {
  margin-left: 15%;
  margin-top: 13px;
}

.card {
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 20px;
    color: #FFFDF9;
    border-radius: 15px;
    border: none;
    min-width: 300px;
    
}

.test {
    border-radius: 15px;
    background-color: #A2C4C3;
    min-height: 50px;
    max-height: 50px;
}

#headingTwo {
    border-radius: 15px;
    border-bottom-left-radius: 15px;
}

#headingThree {
    border-radius: 15px;
    border-bottom-left-radius: 15px;
}

#headingFour {
    border-radius: 15px;
    border-bottom-left-radius: 15px;
}

#headingFive {
    border-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-header {
    border: none;
    background-color: #588B8B;
    min-height: 50px;
    max-height: 50px;

}


.card button {
    color: white;
    margin-top: -6px;
    margin-left: 5px;
    font-size: 15pt;
    
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
}

label::before {
    content: "";
    background: url("../images/checked.png");
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 212px;
    margin-top: 2px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
}




.test2 {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    margin-left: 257px;
    margin-top: 15px;
}

.btn:hover {
    color: #fff !important;
    text-decoration: none;
    }

/******** BOTTOM NAV **********/

.navbar {
    background-color: #DA8D7A;
    position: sticky;
    bottom: 0;
    max-width: 375px;
    min-width: 375px;
    margin-top: auto;
  }

  .navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }





